<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/background.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/612f542d54.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Allan&family=Anton&family=Bebas+Neue&family=Courgette&family=Imbue&family=Kaushan+Script&family=Lobster&family=Nova+Square&family=Oswald:wght@300;400&family=PT+Sans+Narrow&family=Pathway+Gothic+One&family=Poppins&family=Potta+One&family=Righteous&family=Roboto:wght@300;400&family=Squada+One&family=Teko:wght@300;400&family=Trade+Winds&family=Yanone+Kaffeesatz:wght@400;500&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>
    <script src="js/audio.player.js" type="module" defer></script>
    <script src="js/audiomanager.js" defer></script>
    <title>Fantastic Music Player | v3.0.3</title>
</head>
<body class="debugmodeOn"> <!--class: debugmodeOn-->
    <section class="content">
        <section class="top-level">
            <div class="sideBar close">
                <div class="topLogoArea closeSideBar open">
                    <div class="imageFolder">
                        <img src="/assets/background.ico" alt="Logo is Loading">
                    </div>
                    <p class="textFolder">
                        Fantastic Music Player
                    </p>
                </div>
                <div class="separator"></div>
                <div class="menuContents">
                    <li class="active">
                        <span class="material-icons">home</span>
                        <span class="operation">Home</span>
                    </li>
                    <li>
                        <span class="material-icons">featured_play_list</span>
                        <span class="operation">Genre</span>
                    </li>
                    <li>
                        <span class="material-icons">person</span>
                        <span class="operation">Artist</span>
                    </li>
                    <li>
                        <span class="material-icons">queue_music</span>
                        <span class="operation">Playlists</span>
                    </li>
                    <li>
                        <span class="material-icons">notifications</span>
                        <span class="operation">Notifications</span>
                    </li>
                    <li>
                        <span class="material-icons">settings</span>
                        <span class="operation">Settings</span>
                    </li>
                    <div class="vspacer"></div>
                    <div class="informations">
                        <p>Sachin Acharya</p>
                        <a href="logout">Logout</a>
                        <p class="material-icons icons">logout</p>
                    </div>
                </div>
            </div>
            <div class="contentSec">
                <Message class="timeoutmessage">
                    <span>To collapse or enlarge the menu area, you can click on LOGO on the menu</span><span class="material-icons timeoutClose">close</span>
                </Message>
                <div class="searchArea">
                    <div class="queryArea">
                        <div class="search_bar" contenteditable="true" placeholder="Search for your Favourite song, artist, etc." spellcheck="false" data-gramm="false" data-gramm-editor="false" data-enable-grammarly="false"></div>
                        <span class="material-icons searchBtn">search</span>
                    </div>
                    <div class="autoCompletion">
                        <li>
                            <div class="imgArea">
                                <img src="assets/Image-1.jpg" alt="">
                            </div>
                            <div class="details">
                                <div class="titleArea">
                                    How to create Online Music Streaming site | YouTubeSpecial
                                </div>
                                <div class="miniDetails">
                                    <p class="channel">Sachin Acharya</p>
                                    <p class="date">Nov 12, 2020 11:45 PM</p>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="contentPart">
                    <div class="discover">
                        <div class="heading">
                            <p>Discover</p>
                            <span class="pov">Discover new songs according to your preferences</span>
                        </div>
    
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="Latest_song">
                        <div class="heading">
                            <p>Latest Song</p>
                            <span class="pov">Get latest and popular  Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="nepali_songs">
                        <div class="heading">
                            <p>Nepali Songs</p>
                            <span class="pov">Get latest and most popular Nepali Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="maithali_song">
                        <div class="heading">
                            <p>Maithali Song</p>
                            <span class="pov">Get latest and popular Maithali Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="maithali_cultural">
                        <div class="heading">
                            <p>Maithali Cultural Song</p>
                            <span class="pov">Get latest and popular Maithali Cultural Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="cultural_song">
                        <div class="heading">
                            <p>Cultural Song</p>
                            <span class="pov">Get latest and Popular Cultural Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="jhijhiya_song">
                        <div class="heading">
                            <p>Jhijhiya  Song</p>
                            <span class="pov">Get latest and popular Jhijhiya Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="apan_mithila_song">
                        <div class="heading">
                            <p>Apan Dham Maithali Song</p>
                            <span class="pov">Get latest and popular Apan Mithila Dham Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="lok_dohori_song">
                        <div class="heading">
                            <p>LokDohori Song</p>
                            <span class="pov">Get latest and popular LokDOhori Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="tharu_song">
                        <div class="heading">
                            <p>Tharu Song</p>
                            <span class="pov">Get latest and popular Tharu Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="yuvraaj_song">
                        <div class="heading">
                            <p>Youvraaj Katwal Song</p>
                            <span class="pov">Get latest and popular Song of Youbraaj Katwal</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="purelok_song">
                        <div class="heading">
                            <p>Pure LOk Song</p>
                            <span class="pov">Get latest and popular Pure Lok Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>


                    <div class="best_dohori_song">
                        <div class="heading">
                            <p>Best Dohori Song</p>
                            <span class="pov">Get latest and popular Best DOhori Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="rap_song">
                        <div class="heading">
                            <p>Nepali Rap Song</p>
                            <span class="pov">Get latest and Popular Nepali Rap Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="maithili_rap_song">
                        <div class="heading">
                            <p>Maithali Rap Song</p>
                            <span class="pov">Get latest and Popular Maithili Rap Song</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="swapnil_song">
                        <div class="heading">
                            <p>Swapnil Sharma Song</p>
                            <span class="pov">Get latest and Popular Song of Swapnil Sharma</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="oldnepali">
                        <div class="heading">
                            <p>OLd Nepali Songs</p>
                            <span class="pov">Get old Nepali Popular Nepali Songs.</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="oldsongs">
                        <div class="heading">
                            <p>Suggestions</p>
                            <span class="pov">Get new songs suggested according to your prefered genre, artist etc.</span>
                        </div>
                        <div class="contents">
                            <!--
                                Content will be loaded programatically
                            -->
                        </div>
                        <div class="viewAll">
                            View All
                        </div>
                    </div>

                    <div class="sep"></div>
                </div>

                <div class="master-controls">
                    <div class="progress-bar">
                        <div class="time-indicator">
                            <span>0:00</span>
                            <span>1:12</span>
                        </div>
                        <div class="progress-juice"></div>
                        
                    </div>
                    <div class="master-player">
                        <div class="thumbnail parentof">
                            <img src="/assets/Image-1.jpg" alt="Thumbnail is loading">
                        </div>
    
                        <div class="music-info">
                            <div class="mtitle">
                                <h1>On my way - Alan Walker</h1>
                            </div>
                            <div class="aname">
                                <p>Alan Walker</p>
                            </div>
                        </div>
    
                        <div class="mcontrols">
                            <span class="material-icons arrow_back" onclick="playPrevious()">
                                arrow_back
                            </span>
    
                            <span class="material-icons playPauseMedia" onclick="playPausemethod()">
                                play_arrow
                            </span>
                            <span class="material-icons arrow_forward" onclick="playNext()">
                                arrow_forward
                            </span>
                        </div>
                        <div class="expansion">
                            <span class="material-icons expand">
                                open_in_full
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- </section> -->
    </section>
    <script src="/js/script.js"></script>
</body>
</html>