<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/background.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/612f542d54.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Allan&family=Anton&family=Bebas+Neue&family=Courgette&family=Imbue&family=Kaushan+Script&family=Lobster&family=Nova+Square&family=Oswald:wght@300;400&family=PT+Sans+Narrow&family=Pathway+Gothic+One&family=Poppins&family=Potta+One&family=Righteous&family=Roboto:wght@300;400&family=Squada+One&family=Teko:wght@300;400&family=Trade+Winds&family=Yanone+Kaffeesatz:wght@400;500&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>
    <title>Fantastic Music Player | v3.0.3</title>
</head>
<body class="debugmodeon"> <!--class: debugmodeOn-->
    <section>
        <div class="sideBar close">
            <div class="topLogoArea closeSideBar open">
                <div class="imageFolder">
                    <img src="/assets/background.ico" alt="Logo is Loading">
                </div>
                <p class="textFolder">
                    Fantastic Music Player
                </p>
            </div>
            <div class="separator"></div>
            <div class="menuContents">
                <li class="active">
                    <span class="material-icons">home</span>
                    <span class="operation">Home</span>
                </li>
                <li>
                    <span class="material-icons">featured_play_list</span>
                    <span class="operation">Genre</span>
                </li>
                <li>
                    <span class="material-icons">person</span>
                    <span class="operation">Artist</span>
                </li>
                <li>
                    <span class="material-icons">queue_music</span>
                    <span class="operation">Playlists</span>
                </li>
                <li>
                    <span class="material-icons">notifications</span>
                    <span class="operation">Notifications</span>
                </li>
                <li>
                    <span class="material-icons">settings</span>
                    <span class="operation">Settings</span>
                </li>
                <div class="vspacer"></div>
                <div class="informations">
                    <p>Sachin Acharya</p>
                    <a href="logout">Logout</a>
                    <p class="material-icons icons">logout</p>
                </div>
            </div>
        </div>
        <div class="contentSec">
            <Message class="timeoutmessage">
                <span>To collapse or enlarge the menu area, you can click on LOGO on the menu</span><span class="material-icons timeoutClose">close</span>
            </Message>
            <div class="searchArea">
                <div class="queryArea">
                    <div class="search_bar" contenteditable="true" placeholder="Search for your Favourite song, artist, etc." spellcheck="false" data-gramm="false" data-gramm-editor="false" data-enable-grammarly="false"></div>
                    <span class="material-icons searchBtn">search</span>
                </div>
                <div class="autoCompletion">
                    <li>
                        <div class="imgArea">
                            <img src="assets/Image-1.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="titleArea">
                                How to create Online Music Streaming site | YouTubeSpecial
                            </div>
                            <div class="miniDetails">
                                <p class="channel">Sachin Acharya</p>
                                <p class="date">Nov 12, 2020 11:45 PM</p>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
            <div class="separator"></div>
            <div class="contentPart">
                <div class="discover">
                    <div class="heading">
                        <p>Discover</p>
                        <span class="pov">Discover new songs according to your preferences</span>
                    </div>

                    <div class="contents">
                        <!--
                            Content will be loaded programatically
                        -->
                    </div>
                    <div class="viewAll">
                        View All
                    </div>
                </div>
                <div class="suggestions">
                    <div class="heading">
                        <p>Suggestions</p>
                        <span class="pov">Get new songs suggested according to your prefered genre, artist etc.</span>
                    </div>
                    <div class="contents">
                        <!--
                            Content will be loaded programatically
                        -->
                    </div>
                    <div class="viewAll">
                        View All
                    </div>
                </div>
            </div>
        </div>
        <div class="master_play">
            <div class="wave">
                <div class="wave1"></div>
                <div class="wave1"></div>
                <div class="wave1"></div>
            </div>
            <img src="img/1.jpg" alt="" id="poster_master_play">
            <h5 id="title">
                Alan walker
                <div class="subtitle">on my way</div>
            </h5>
            <div class="icon">
                <i class="bi shuffle bi-music-note-beamed">next</i>
                <i class="bi bi-skip-start"></i>
                <i class="bi bi-play"></i>
                <i class="bi bi-skip-end"></i>
                <i class="bi bi-cloud-download" id="download_music"></i>
            </div>
            <span id="current_start">0.00</span>
            <div class="bar">
                <input type="range" name="" id="sync" min="0" max="100">
                <div class="bar2" id="bar2"><div></div>
                <div class="dot"></div>
            </div>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>